//about.scss

.about {
  position: relative;
  padding-top: 100px;
  padding-bottom: 190px;
  margin: 0 auto;
  max-width: 846px;
  padding-left: 32px;
  padding-right: 32px;
  @media screen and(max-width:900px) {
    max-width: 600px;
  }

  @media screen and(max-width:375px) {
    padding-top: 40px;
  }

  h3 {
    @media screen and(max-width:900px) {
      text-align: center;
    }
  }
  h4 {
    @media screen and(max-width:900px) {
      text-align: center;
    }
  }
  p {
    margin-top: 24px;
    font-size: 18px;

    @media screen and(max-width:900px) {
      max-width: 700px;
      margin: 40px auto 0;
      font-size: 16px;
      text-align: justify;
    }
  }

  .about-image-box {
    position: absolute;
    top: 150px;
    right: 0px;
    z-index: -1;
    overflow-x: hidden;
    @media screen and(max-width:900px) {
      top: 230px;
    }
    @media screen and(max-width:760px) {
      top: 230px;
    }
    @media screen and(max-width:720px) {
      top: 250px;
    }
    @media screen and(max-width:620px) {
      top: 280px;
    }
    @media screen and(max-width:550px) {
      top: 310px;
    }
    @media screen and(max-width:440px) {
      top: 340px;
    }
    @media screen and(max-width:410px) {
      top: 370px;
    }
    @media screen and(max-width:375px) {
      top: 310px;
    }

    p {
      font-size: 16px;
      transform: translate(200px, -130px);

      @media screen and(max-width:900px) {
        font-size: 12px;
        transform: translate(190px, -150px);
      }
      @media screen and(max-width:375px) {
        font-size: 10px;
      }
    }
    img {
      width: 350px;
      @media screen and(max-width:900px) {
        width: 300px;
      }
    }
  }
}
