@charset "UTF-8";
.common-space {
  margin: 0 auto;
  overflow-x: hidden;
}

.common-space .common-space-index {
  margin-top: 88px;
  margin-left: 176px;
}

@media screen and (max-width: 1250px) {
  .common-space .common-space-index {
    margin-left: 88px;
  }
}

@media screen and (max-width: 900px) {
  .common-space .common-space-index {
    margin-left: 48px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 375px) {
  .common-space .common-space-index {
    margin-left: 32px;
    margin-top: 0px;
  }
}

.common-space .line {
  margin-top: 32px;
  position: relative;
  border-top: 1px solid gray;
  width: 100%;
}

@media screen and (max-width: 375px) {
  .common-space .line {
    margin-top: 24px;
  }
}

.common-space .line::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 176px;
  width: 128px;
  border-top: 1px solid #23ac6d;
}

@media screen and (max-width: 1250px) {
  .common-space .line::after {
    left: 88px;
  }
}

@media screen and (max-width: 900px) {
  .common-space .line::after {
    left: 48px;
  }
}

@media screen and (max-width: 375px) {
  .common-space .line::after {
    left: 32px;
  }
}

.common-space .common-space-photo-box {
  margin: 64px auto 0;
  max-width: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 1250px) {
  .common-space .common-space-photo-box {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (max-width: 900px) {
  .common-space .common-space-photo-box {
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 32px;
  }
}

@media screen and (max-width: 375px) {
  .common-space .common-space-photo-box {
    margin-top: 32px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.common-space .common-space-photo-box .grid-child {
  border-radius: 4px;
}

.common-space .common-space-photo-box .grid-child1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  border: 5px solid #eee;
  /* 線の太さ・種類・色 */
  margin: 5px;
  /* 外側の余白 */
  padding: 5px;
  /* 内側の余白 */
  position: relative;
  z-index: 0;
  border-radius: 4px;
}

@media screen and (max-width: 375px) {
  .common-space .common-space-photo-box .grid-child1 {
    border: 3px solid #eee;
    /* 線の太さ・種類・色 */
    margin: 3px;
    /* 外側の余白 */
    padding: 3px;
    /* 内側の余白 */
  }
}

.common-space .common-space-photo-box .grid-child1::before {
  border-top: 5px solid #23ac6d;
  /* 一部だけ異なる線の太さ・種類・色 */
  border-left: 5px solid #23ac6d;
  /* 一部だけ異なる線の太さ・種類・色 */
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
  z-index: 1;
  border-radius: 4px;
}

@media screen and (max-width: 375px) {
  .common-space .common-space-photo-box .grid-child1::before {
    border-top: 3px solid #23ac6d;
    /* 一部だけ異なる線の太さ・種類・色 */
    border-left: 3px solid #23ac6d;
    /* 一部だけ異なる線の太さ・種類・色 */
    top: -3px;
    width: 10px;
    height: 10px;
  }
}

.common-space .common-space-photo-box .grid-child1 .grid-child1-s {
  width: 100%;
  height: 100%;
}

.common-space .common-space-photo-box .grid-child2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  border: 5px solid #eee;
  /* 線の太さ・種類・色 */
  margin: 5px;
  /* 外側の余白 */
  padding: 5px;
  /* 内側の余白 */
  position: relative;
  z-index: 0;
  border-radius: 4px;
}

@media screen and (max-width: 375px) {
  .common-space .common-space-photo-box .grid-child2 {
    border: 3px solid #eee;
    /* 線の太さ・種類・色 */
    margin: 3px;
    /* 外側の余白 */
    padding: 3px;
    /* 内側の余白 */
  }
}

.common-space .common-space-photo-box .grid-child2::before {
  border-top: 5px solid #23ac6d;
  /* 一部だけ異なる線の太さ・種類・色 */
  border-left: 5px solid #23ac6d;
  /* 一部だけ異なる線の太さ・種類・色 */
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
  z-index: 1;
  border-radius: 4px;
}

@media screen and (max-width: 375px) {
  .common-space .common-space-photo-box .grid-child2::before {
    border-top: 3px solid #23ac6d;
    /* 一部だけ異なる線の太さ・種類・色 */
    border-left: 3px solid #23ac6d;
    /* 一部だけ異なる線の太さ・種類・色 */
    top: -3px;
    width: 10px;
    height: 10px;
  }
}

.common-space .common-space-photo-box .grid-child2 .grid-child2-s {
  width: 100%;
  height: 100%;
}

.common-space .common-space-photo-box .grid-child3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  border: 5px solid #eee;
  /* 線の太さ・種類・色 */
  margin: 5px;
  /* 外側の余白 */
  padding: 5px;
  /* 内側の余白 */
  position: relative;
  z-index: 0;
  border-radius: 4px;
}

@media screen and (max-width: 375px) {
  .common-space .common-space-photo-box .grid-child3 {
    border: 3px solid #eee;
    /* 線の太さ・種類・色 */
    margin: 3px;
    /* 外側の余白 */
    padding: 3px;
    /* 内側の余白 */
  }
}

.common-space .common-space-photo-box .grid-child3::before {
  border-top: 5px solid #23ac6d;
  /* 一部だけ異なる線の太さ・種類・色 */
  border-left: 5px solid #23ac6d;
  /* 一部だけ異なる線の太さ・種類・色 */
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
  z-index: 1;
  border-radius: 4px;
}

@media screen and (max-width: 375px) {
  .common-space .common-space-photo-box .grid-child3::before {
    border-top: 3px solid #23ac6d;
    /* 一部だけ異なる線の太さ・種類・色 */
    border-left: 3px solid #23ac6d;
    /* 一部だけ異なる線の太さ・種類・色 */
    top: -3px;
    width: 10px;
    height: 10px;
  }
}

.common-space .common-space-photo-box .grid-child3 .grid-child3-s {
  width: 100%;
  height: 100%;
}

.common-space .common-space-photo-box .grid-child4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  border: 5px solid #eee;
  /* 線の太さ・種類・色 */
  margin: 5px;
  /* 外側の余白 */
  padding: 5px;
  /* 内側の余白 */
  position: relative;
  z-index: 0;
  border-radius: 4px;
}

@media screen and (max-width: 375px) {
  .common-space .common-space-photo-box .grid-child4 {
    border: 3px solid #eee;
    /* 線の太さ・種類・色 */
    margin: 3px;
    /* 外側の余白 */
    padding: 3px;
    /* 内側の余白 */
  }
}

.common-space .common-space-photo-box .grid-child4::before {
  border-top: 5px solid #23ac6d;
  /* 一部だけ異なる線の太さ・種類・色 */
  border-left: 5px solid #23ac6d;
  /* 一部だけ異なる線の太さ・種類・色 */
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
  z-index: 1;
  border-radius: 4px;
}

@media screen and (max-width: 375px) {
  .common-space .common-space-photo-box .grid-child4::before {
    border-top: 3px solid #23ac6d;
    /* 一部だけ異なる線の太さ・種類・色 */
    border-left: 3px solid #23ac6d;
    /* 一部だけ異なる線の太さ・種類・色 */
    top: -3px;
    width: 10px;
    height: 10px;
  }
}

.common-space .common-space-photo-box .grid-child4 .grid-child4-s {
  width: 100%;
  height: 100%;
}

.common-space .common-space-photo-box .grid-child5 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  border: 5px solid #eee;
  /* 線の太さ・種類・色 */
  margin: 5px;
  /* 外側の余白 */
  padding: 5px;
  /* 内側の余白 */
  position: relative;
  z-index: 0;
  border-radius: 4px;
}

@media screen and (max-width: 375px) {
  .common-space .common-space-photo-box .grid-child5 {
    border: 3px solid #eee;
    /* 線の太さ・種類・色 */
    margin: 3px;
    /* 外側の余白 */
    padding: 3px;
    /* 内側の余白 */
  }
}

.common-space .common-space-photo-box .grid-child5::before {
  border-top: 5px solid #23ac6d;
  /* 一部だけ異なる線の太さ・種類・色 */
  border-left: 5px solid #23ac6d;
  /* 一部だけ異なる線の太さ・種類・色 */
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
  z-index: 1;
  border-radius: 4px;
}

@media screen and (max-width: 375px) {
  .common-space .common-space-photo-box .grid-child5::before {
    border-top: 3px solid #23ac6d;
    /* 一部だけ異なる線の太さ・種類・色 */
    border-left: 3px solid #23ac6d;
    /* 一部だけ異なる線の太さ・種類・色 */
    top: -3px;
    width: 10px;
    height: 10px;
  }
}

.common-space .common-space-photo-box .grid-child5 .grid-child5-s {
  width: 100%;
  height: 100%;
}

.common-space .common-space-text {
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 375px) {
  .common-space .common-space-text {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.common-space .common-space-text .common-space-text-box {
  margin: 72px auto 0;
  max-width: 710px;
  background-color: #f1f1f1;
  border-radius: 4px;
  -webkit-box-shadow: 5px 2px 2px #e7e7e7;
          box-shadow: 5px 2px 2px #e7e7e7;
}

@media screen and (max-width: 1000px) {
  .common-space .common-space-text .common-space-text-box {
    margin-top: 32px;
  }
}

.common-space .common-space-text .common-space-text-box .scroll-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .common-space .common-space-text .common-space-text-box .scroll-animation {
    display: block;
    text-align: center;
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media screen and (max-width: 375px) {
  .common-space .common-space-text .common-space-text-box .scroll-animation {
    margin-top: 32px;
  }
}

.common-space .common-space-text .common-space-text-box .scroll-animation .common-space-text-box-index {
  margin-left: -35px;
  margin-top: -8px;
}

@media screen and (max-width: 1250px) {
  .common-space .common-space-text .common-space-text-box .scroll-animation .common-space-text-box-index {
    margin-right: 0;
  }
}

@media screen and (max-width: 1000px) {
  .common-space .common-space-text .common-space-text-box .scroll-animation .common-space-text-box-index {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
  }
}

.common-space .common-space-text .common-space-text-box .scroll-animation .common-space-text-box-index .sp-br {
  display: none;
}

@media screen and (max-width: 480px) {
  .common-space .common-space-text .common-space-text-box .scroll-animation .common-space-text-box-index .sp-br {
    display: block;
  }
}

.common-space .common-space-text .common-space-text-box .scroll-animation h5 {
  padding-top: 16px;
  border-bottom: 1px solid #333;
  display: inline-block;
}

@media screen and (max-width: 1250px) {
  .common-space .common-space-text .common-space-text-box .scroll-animation h5 {
    font-size: 24px;
  }
}

.common-space .common-space-text .common-space-text-box .scroll-animation h6 {
  margin-top: 32px;
  font-size: 20px;
}

.common-space .common-space-text .common-space-text-box .scroll-animation p {
  max-width: 355px;
  padding-top: 24px;
  padding-bottom: 32px;
  font-size: 16px;
  padding-right: 8px;
}

@media screen and (max-width: 1250px) {
  .common-space .common-space-text .common-space-text-box .scroll-animation p {
    text-align: justify;
  }
}

@media screen and (max-width: 1000px) {
  .common-space .common-space-text .common-space-text-box .scroll-animation p {
    max-width: none;
  }
}

@media screen and (max-width: 450px) {
  .common-space .common-space-text .common-space-text-box .scroll-animation p {
    padding-right: 0;
  }
}

.common-space .fadein {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
}

.common-space .fadein.active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
/*# sourceMappingURL=common-space.css.map */