//concept.scss

.concept {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 32px;
  @media screen and(max-width:1250px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media screen and(max-width:550px) {
    .h3sp-br {
      display: block;
    }
  }
  @media screen and(max-width:375px) {
    padding-left: 16px;
    padding-right: 16px;
  }

  p {
    margin-top: 24px;
    font-size: 18px;
  }
  .concept-box1 {
    display: flex;
    position: relative;
    @media screen and(max-width:1050px) {
      display: block;
      text-align: center;
      max-width: 700px;
      margin: 0 auto;
    }
    .concept-box1-text-box {
      margin-top: 100px;
      @media screen and(max-width:1050px) {
        margin-top: 48px;
      }
      h3 {
        margin-left: 0;
      }
      h4 {
        margin-left: 8px;
        @media screen and(max-width:1050px) {
          margin-left: 0;
        }
      }
      p {
        margin-left: 8px;
        @media screen and(max-width:1050px) {
          margin: 48px auto 0;
          margin-left: 0;
          @media screen and(max-width:900px) {
            font-size: 16px;
          }
        }
      }
    }
    img {
      width: 100%;
      border-radius: 4px;
    }
    .content-box1-overlay {
      position: absolute;
      background-color: rgba(241, 218, 218, 0.3);
      box-shadow: 5px 2px 2px rgb(231, 231, 231);
      height: 327px;
      width: 500px;
      bottom: -24px;
      right: 24px;
      // z-index: -1;
    }
    .concept-box1-text-box {
      padding-left: 8px;

      margin-left: -80px;

      h3 {
        white-space: nowrap;
        margin-left: -30px;
        margin-top: -24px;
        padding-left: 80px;
        @media screen and(max-width:1000px) {
          margin-top: -32px;
        }
        @media screen and(max-width:900px) {
          .h3sp-br {
            display: block;
          }
        }
      }
      h4 {
        padding-left: 80px;
      }
      p {
        margin-top: 48px;
        padding-left: 80px;
        max-width: 700px;
        @media screen and(max-width:1050px) {
          max-width: 700px;
          margin: 24px auto 48px;
          text-align: justify;
        }
      }
    }
  }
  .concept-box2 {
    display: flex;
    position: relative;
    margin-top: 100px;
    @media screen and(max-width:1050px) {
      display: block;
      text-align: center;
      max-width: 700px;
      margin-top: 0px;
      margin: 60px auto;
    }
    @media screen and(max-width:375px) {
    }
    .concept-box2-text-box {
      h3 {
        margin-left: 0;
      }
      h4 {
        margin-left: 0;
      }
    }
    p {
      margin: 48px auto 0;
      @media screen and(max-width:900px) {
        font-size: 16px;
        text-align: justify;
      }
    }
    img {
      order: 1;
    }

    img {
      order: 2;
      width: 500px;
      border-radius: 4px;
      @media screen and(max-width:1050px) {
        width: 100%;
      }
    }
    .content-box2-overlay {
      position: absolute;
      background-color: rgba(241, 218, 218, 0.3);
      box-shadow: 5px 2px 2px rgb(231, 231, 231);
      height: 327px;
      width: 500px;
      bottom: -64px;
      left: -24px;
      z-index: -1;
    }
    .concept-box2-text-box {
      margin: 0 0 0 auto;
      margin-top: 64px;
      padding-right: 8px;
      @media screen and(max-width:1050px) {
        margin-top: 48px;
      }
      h3 {
        white-space: nowrap;
        margin-left: -30px;
        margin-top: -24px;
        @media screen and(max-width:1050px) {
          margin-left: 0px;
          margin-top: -32px;
        }
      }
      h4 {
        margin-left: -28px;
        @media screen and(max-width:1050px) {
          margin-left: 0px;
        }
      }
      p {
        margin-top: 48px;
        max-width: 434px;
        margin-left: -30px;
        @media screen and(max-width:1050px) {
          max-width: 700px;
          margin: 24px auto 48px;
        }
      }
    }
  }
  .h3sp-br {
    display: none;
  }
  .fadein-left {
    -webkit-transition: all 0.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    opacity: 0;
    transform: translateX(-50px);
  }
  .fadein-left.active {
    opacity: 1;
    transform: translateX(0);
  }
  .fadein-right {
    -webkit-transition: all 0.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    opacity: 0;
    transform: translateX(50px);
  }
  .fadein-right.active {
    opacity: 1;
    transform: translateX(0);
  }
}
