//contact.scss

.contact {
  width: 100vw;
  margin-top: 128px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 40px;
  padding-left: 40px;
  width: 100%;
  box-sizing: border-box;
  background: url(../img/contact.png) no-repeat;
  @media screen and(max-width:1000px) {
    padding-right: 24px;
    padding-left: 24px;
  }
  @media screen and(max-width:375px) {
    padding-right: 16px;
    padding-left: 16px;
  }
  .contact-box {
    margin-top: 48px;
    max-width: 1000px;
    padding-right: 32px;
    padding-left: 32px;
    margin: 0 auto;
    background-color: rgba(247, 233, 217, 0.8);
    border-radius: 4px;
    @media screen and(max-width:375px) {
      padding-right: 16px;
      padding-left: 16px;
    }

    h3 {
      text-align: center;
      padding-top: 32px;
      @media screen and(max-width:450px) {
        font-size: 32px;
      }
    }
    form {
      margin: 32px auto 0;
      max-width: 480px;
      letter-spacing: 0.3em;
      .name {
        input {
          display: block;
          width: 100%;
          height: 30px;
          border: 1px solid #333;
          border-radius: 4px;
          padding: 2px 8px 2px 8px;
          box-sizing: border-box;
          background-color: #fff;
          margin-top: 4px;
        }
      }
      .e-mail {
        margin-top: 24px;
        input {
          display: block;
          width: 100%;
          height: 30px;
          border: 1px solid #333;
          border-radius: 4px;
          padding: 2px 8px 2px 8px;
          box-sizing: border-box;
          background-color: #fff;
          margin-top: 4px;
        }
      }

      textarea {
        margin-top: 24px;
        display: block;
        width: 100%;
        border-radius: 4px;
        margin-top: 4px;
        padding: 2px 8px 2px 8px;
        box-sizing: border-box;
        background-color: #fff;
      }
      .radio {
        margin-top: 24px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
        .radio-btn {
          width: 150px;
          height: 40px;
          margin-top: 3px;
          margin-right: 2px;
          @media screen and(max-width:375px) {
            height: auto;
          }
          &:first-child {
            margin-left: 0;
          }
          .radio-btn-btn {
            margin-bottom: 3px;
            margin-right: 8px;
          }
        }
      }
      .submit {
        text-align: center;
        padding-bottom: 48px;
        font-size: 24px;
        button {
          width: 200px;
          height: 48px;
          text-align: center;
          border: 1px solid #23ac6d;
          border-radius: 4px;
          margin-top: 48px;
          letter-spacing: 0.3em;
          background: transparent;
          position: relative;
          z-index: 1;
          transition: 0.3s;
          background-color: #fff;
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: #23ac6d;
            transform-origin: 100% 50%;
            transform: scaleX(0);
            transition: transform ease 0.3s;
          }
          &:hover {
            color: #fff;
          }
          &:hover::before {
            transform-origin: 0% 50%;
            transform: scaleX(1);
          }
        }
      }
    }
  }
  .contact-red {
    color: red;
  }
}
