//header.scss

header {
  @media screen and(max-width:1200px) {
    height: auto;
  }

  @media screen and(max-width:850px) {
    height: auto;
  }
  .sp-top {
    display: none;
    @media screen and(max-width:850px) {
      margin-top: 88px;
      display: block;
    }
  }

  .pc-top {
    width: 100%;
    @media screen and(max-width:850px) {
      display: none;
    }
  }

  position: relative;
  height: 100vh;
  overflow-y: hidden;

  .header-wrapper {
    position: fixed;
    z-index: 4;
    top: 0;
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    line-height: 88px;
    background-color: #fff;
    @media screen and(max-width:900px) {
      .pc-nav {
        display: none;
      }
    }
    img {
      margin-left: 16px;
      height: 88px;
      @media screen and(max-width:375px) {
        margin-left: 16px;
      }
    }
    nav {
      display: flex;
      justify-content: space-between;
      margin-right: 64px;
      a {
        margin-left: 33px;
        position: relative;
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        &::after {
          position: absolute;
          bottom: 24px;
          left: 0;
          content: "";
          width: 100%;
          height: 1px;
          background: #333;
          transform: scale(0, 1);
          transform-origin: left top;
          transition: transform 0.3s;
          @media screen and(max-width:900px) {
            bottom: 12px;
          }
        }
        &:hover::after {
          transform: scale(1, 1);
        }
      }
    }
  }
  .header-text-box {
    width: 500px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: 104px;
    border: 1px solid #23ac6d;

    @media screen and(max-width:900px) {
      padding-bottom: 16px;
      width: 340px;
      height: 56px;
      right: 0;
    }
    @media screen and(max-width:450px) {
      padding-bottom: 16px;
      width: 320px;
      height: 56px;
      right: 0;
    }
    @media screen and(max-width:375px) {
      width: 300px;
      height: 40px;
      right: 0;
    }

    h1 {
      @media screen and(max-width:900px) {
        font-size: 44px;
      }
      @media screen and(max-width:900px) {
        font-size: 40px;
        margin-top: 8px;
      }
      @media screen and(max-width:470px) {
        margin-top: 4px;
      }
      @media screen and(max-width:375px) {
        font-size: 36px;
      }
    }
    .header-text-sub-box {
      transform: translateY(5px);
      h2 {
        @media screen and(max-width:900px) {
          font-size: 22px;
        }
        @media screen and(max-width:450px) {
          font-size: 20px;
        }
        @media screen and(max-width:375px) {
          font-size: 18px;
        }
      }
    }

    .top-sub-text-layout {
      transform: translateX(20px);
    }
  }
  .contact-btn {
    text-align: center;
    display: flex;
    width: 208px;
    height: 64px;
    background-color: #23ac6d;
    color: #fff;
    position: fixed;
    top: 104px;
    right: 24px;
    border-radius: 4px;
    z-index: 4;
    &:hover {
      opacity: 0.8 !important;
    }
    @media screen and(max-width:900px) {
      display: none;
    }
    .far {
      line-height: 64px;
      margin-left: 16px;
    }
    p {
      margin-left: 16px;
      line-height: 64px;
      font-size: 18px;
    }
  }

  .hamburger {
    display: none;
    @media screen and(max-width:900px) {
      display: block;
    }
  }

  .contact-btn-sp {
    display: block;
    text-align: center;
    width: 48px;
    height: 48px;
    background-color: #23ac6d;
    color: #fff;
    position: fixed;
    top: 24px;
    right: 16px;
    border-radius: 4px;
    z-index: 4;
    &:hover {
      opacity: 0.8 !important;
    }
    @media screen and(max-width:900px) {
      display: block;
    }
    .far {
      line-height: 48px;
    }
  }
  a {
    &::after {
      bottom: 16px;
    }
  }
  .nav {
    padding-top: 60px;
    color: #333;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -250px;
    // width: 100px;
    background-color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 10;
    .nav_main_text {
      margin-top: 80px;
      background-color: #fff;
      color: #333;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      line-height: 60px;
      text-align: center;
    }
  }

  .fadein {
    -webkit-transform: translateX(-250px);
    transform: taranslateX(-250px);
    z-index: 5;
    opacity: 1;
  }
  /*ハンバーガーライン*/
  #target {
    width: 40px;
    height: 30px;
    position: fixed;
    top: 30px;
    right: 88px;
    cursor: pointer;
    display: block;
    transition: 0.5;
    z-index: 19;

    .target_inner {
      width: 40px;
      height: 30px;
      position: relative;
      .target_inner_line {
        display: block;
        width: 40px;
        height: 5px;
        transition: 0.3s;
        border-radius: 50px;
        position: absolute;
        background-color: #333;
      }
      .target_inner_1 {
        top: 0px;
      }
      .target_inner_2 {
        top: 13px;
      }
      .target_inner_3 {
        top: 26px;
      }

      .linea {
        transform: rotate(45deg);
        top: 13px;
      }
      .lineb {
        opacity: 0;
      }
      .linec {
        transform: rotate(-45deg);
        top: 13px;
      }
    }
  }
  .slidex {
    z-index: 20;
  }
  .contact-btn-sp {
    display: none;
    @media screen and(max-width:900px) {
      display: block;
    }
  }
  .sns-icon-twitter {
    position: fixed;
    z-index: 10;
    bottom: 88px;
    right: 24px;

    .fa-twitter {
      font-size: 48px;
      color: #23ac6d;
      &:hover {
        opacity: 0.8 !important;
      }
    }
  }
  .sns-icon-instagram {
    position: fixed;
    z-index: 10;
    bottom: 24px;
    right: 24px;
    .fa-instagram {
      font-size: 48px;
      color: #23ac6d;
      &:hover {
        opacity: 0.8 !important;
      }
    }
  }
}
