//living.scss

.living {
  overflow-x: hidden;
  padding-bottom: 100px;
  @media screen and(max-width:375px) {
    padding-bottom: 0;
  }

  .living-index {
    margin-top: 160px;
    margin-left: 176px;
    @media screen and(max-width:1250px) {
      margin-left: 88px;
    }
    @media screen and(max-width:900px) {
      margin-left: 48px;
      margin-right: 24px;
    }
    @media screen and(max-width:375px) {
      margin-left: 32px;
    }
  }
  .line {
    margin-top: 32px;
    position: relative;
    border: 1px solid gray;
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      top: -1px;
      left: 176px;
      width: 128px;
      border: 1px solid #23ac6d;
      @media screen and(max-width:1250px) {
        left: 88px;
      }
      @media screen and(max-width:900px) {
        left: 48px;
      }
      @media screen and(max-width:375px) {
        left: 32px;
      }
    }
  }
  .living-content-box1 {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
    @media screen and(max-width:1000px) {
      display: block;
      text-align: center;
    }
    @media screen and(max-width:900px) {
      margin-top: 32px;
      padding-left: 24px;
      padding-right: 24px;
    }
    @media screen and(max-width:375px) {
      padding-left: 16px;
      padding-right: 16px;
    }
    span {
      color: #f3a409;
      border-bottom: 1px solid #f3a409;
    }
    .living-text-box {
      max-width: 640px;
      margin-top: 64px;
      margin-right: -160px;
      background-color: #faeee0;
      border-radius: 4px;
      padding-left: 16px;
      padding-right: 16px;
      height: 212px;
      box-shadow: 5px 2px 2px rgb(231, 231, 231);
      @media screen and(max-width:1000px) {
        margin: 64px auto 0;
        height: auto;
      }
      h5 {
        margin-top: -24px;
      }
      p {
        margin-top: 40px;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 32px;
        padding-bottom: 24px;
        @media screen and(max-width:1000px) {
          text-align: justify;
        }
      }
    }
    img {
      z-index: -1;
      order: 2;
      @media screen and(max-width:700px) {
        width: 100%;
      }
    }
  }
  .living-content-box2 {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
    @media screen and(max-width:1000px) {
      display: block;
      text-align: center;
    }
    @media screen and(max-width:900px) {
      margin-top: 72px;
      padding-left: 24px;
      padding-right: 24px;
    }
    @media screen and(max-width:375px) {
      padding-left: 16px;
      padding-right: 16px;
    }
    span {
      color: #f3a409;
      border-bottom: 1px solid #f3a409;
    }
    .living-text-box {
      max-width: 640px;
      margin-top: 64px;
      margin-left: -160px;
      background-color: #f1f1f1;
      border-radius: 4px;
      padding-left: 16px;
      padding-right: 16px;
      box-shadow: 5px 2px 2px rgb(231, 231, 231);
      height: 212px;
      @media screen and(max-width:1000px) {
        margin: 64px auto 0;
        height: auto;
      }

      h5 {
        margin-top: -24px;
        text-align: right;
        @media screen and(max-width:1000px) {
          text-align: center;
        }
      }
      p {
        margin-top: 40px;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 32px;
        padding-bottom: 24px;
        @media screen and(max-width:1000px) {
          text-align: justify;
        }
      }
    }
    img {
      z-index: -1;
      @media screen and(max-width:700px) {
        width: 100%;
      }
    }
  }
  .living-content-box3 {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
    @media screen and(max-width:1000px) {
      display: block;
      text-align: center;
    }
    @media screen and(max-width:900px) {
      margin-top: 32px;
      padding-left: 24px;
      padding-right: 24px;
    }
    @media screen and(max-width:375px) {
      padding-left: 16px;
      padding-right: 16px;
    }
    span {
      color: #f3a409;
      border-bottom: 1px solid #f3a409;
    }
    .living-text-box {
      max-width: 640px;
      margin-top: 64px;
      margin-right: -160px;
      background-color: #faeee0;
      border-radius: 4px;
      padding-left: 16px;
      padding-right: 16px;
      height: 212px;
      box-shadow: 5px 2px 2px rgb(231, 231, 231);
      @media screen and(max-width:1000px) {
        margin: 64px auto 0;
        height: auto;
      }
      h5 {
        margin-top: -24px;
      }
      p {
        margin-top: 40px;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 32px;
        padding-bottom: 24px;
        @media screen and(max-width:1000px) {
          text-align: justify;
        }
      }
    }
    img {
      z-index: -1;
      order: 2;
      @media screen and(max-width:700px) {
        width: 100%;
      }
    }
  }
  .contact-btn2 {
    display: block;
    margin: 100px auto 100px;
    width: 500px;
    line-height: 72px;
    height: 72px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #23ac6d;
    border-radius: 4px;
    letter-spacing: 0.3em;
    background: transparent;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    @media screen and(max-width:700px) {
      width: 300px;
      height: 56px;
      font-size: 20px;
      line-height: 56px;
    }
    @media screen and(max-width:375px) {
      width: 250px;
      height: 56px;
      font-size: 16px;
      line-height: 56px;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background: #23ac6d;
      transform-origin: 100% 50%;
      transform: scaleX(0);
      transition: transform ease 0.3s;
    }
    &:hover {
      color: #fff;
    }
    &:hover::before {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }
  }
  .fadein-left {
    -webkit-transition: all 0.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    opacity: 0;
    transform: translateX(-50px);
  }
  .fadein-left.active {
    opacity: 1;
    transform: translateX(0);
  }
  .fadein-right {
    -webkit-transition: all 0.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    opacity: 0;
    transform: translateX(50px);
  }
  .fadein-right.active {
    opacity: 1;
    transform: translateX(0);
  }
}
