.main-content {
  max-width: 1000px;
  margin: 196px auto 0;
}

@media screen and (max-width: 1250px) {
  .main-content {
    margin-top: 128px;
  }
}

@media screen and (max-width: 375px) {
  .main-content {
    margin-top: 60px;
  }
}

.main-content p {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.main-content a {
  font-size: 18px;
  border: 1px solid #fd8516;
  border-radius: 4px;
  display: block;
  width: 150px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  margin: 0 auto;
  background: transparent;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
}

@media screen and (max-width: 450px) {
  .main-content a {
    font-size: 14px;
    height: 32px;
    width: 100px;
    line-height: 32px;
  }
}

.main-content a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #fd8516;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
}

.main-content a:hover {
  color: #fff;
}

.main-content a:hover::before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main-content .main-content-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  margin-top: 100px;
  display: flex;
  border-radius: 4px;
}

@media screen and (max-width: 1050px) {
  .main-content .main-content-box1 {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.main-content .main-content-box1 .main-content-image {
  width: 500px;
  max-height: 500px;
  border-radius: 4px;
}

@media screen and (max-width: 1050px) {
  .main-content .main-content-box1 .main-content-image {
    border-radius: 4px 4px 0 0;
    width: 100%;
    max-width: 500px;
    border-radius: 4px 4px 0 0;
  }
}

.main-content .main-content-box1 .main-content-sub1 {
  padding-right: 1px;
  margin-top: 80px;
  border: 1px solid #26704d;
  max-width: 498px;
  border-radius: 4px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 1050px) {
  .main-content .main-content-box1 .main-content-sub1 {
    margin-top: 0;
    border-radius: 0 0 4px 4px;
  }
}

.main-content .main-content-box1 .main-content-sub1 .service-box {
  padding: 48px 0;
}

@media screen and (max-width: 550px) {
  .main-content .main-content-box1 .main-content-sub1 .service-box {
    padding: 40px 0;
  }
}

@media screen and (max-width: 500px) {
  .main-content .main-content-box1 .main-content-sub1 .service-box {
    padding: 32px 0;
  }
}

@media screen and (max-width: 470px) {
  .main-content .main-content-box1 .main-content-sub1 .service-box {
    padding: 24px 0;
  }
}

@media screen and (max-width: 440px) {
  .main-content .main-content-box1 .main-content-sub1 .service-box {
    padding: 16px 0;
  }
}

.main-content .main-content-box1 .main-content-sub1 .service-box p {
  margin-bottom: 16px;
  line-height: 40px;
}

@media screen and (max-width: 450px) {
  .main-content .main-content-box1 .main-content-sub1 .service-box p {
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 375px) {
  .main-content .main-content-box1 .main-content-sub1 .service-box p {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}

.main-content .main-content-box1 .main-content-sub1 .living-box {
  padding: 48px 0;
}

@media screen and (max-width: 550px) {
  .main-content .main-content-box1 .main-content-sub1 .living-box {
    padding: 40px 0;
  }
}

@media screen and (max-width: 500px) {
  .main-content .main-content-box1 .main-content-sub1 .living-box {
    padding: 32px 0;
  }
}

@media screen and (max-width: 470px) {
  .main-content .main-content-box1 .main-content-sub1 .living-box {
    padding: 24px 0;
  }
}

@media screen and (max-width: 440px) {
  .main-content .main-content-box1 .main-content-sub1 .living-box {
    padding: 16px 0;
  }
}

.main-content .main-content-box1 .main-content-sub1 .living-box p {
  margin-top: 16px;
}

@media screen and (max-width: 450px) {
  .main-content .main-content-box1 .main-content-sub1 .living-box p {
    font-size: 16px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 375px) {
  .main-content .main-content-box1 .main-content-sub1 .living-box p {
    margin-bottom: 24px;
  }
}

.main-content .main-content-box1 .main-content-sub1 img {
  width: 100%;
  border: 1px solid #26704d;
  border-radius: 4px;
}

.main-content .main-content-box1 .main-content-sub1 .main-content-img-small1 {
  margin-right: 3px;
}

@media screen and (max-width: 1050px) {
  .main-content .main-content-box1 .main-content-sub1 .main-content-img-small1 {
    border-radius: 0 0 4px 4px;
  }
}

.main-content .main-content-box2 {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
}

@media screen and (max-width: 1050px) {
  .main-content .main-content-box2 {
    display: block;
    max-width: 500px;
    margin: 100px auto 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 375px) {
  .main-content .main-content-box2 {
    margin: 40px auto 0;
  }
}

.main-content .main-content-box2 .main-content-image {
  width: 500px;
  max-height: 500px;
  border-radius: 4px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 1050px) {
  .main-content .main-content-box2 .main-content-image {
    width: 100%;
    max-width: 500px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-radius: 4px 4px 0 0;
  }
}

.main-content .main-content-box2 .main-content-sub2 {
  margin-top: 80px;
  border: 1px solid #26704d;
  border-radius: 4px;
  max-width: 498px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 1050px) {
  .main-content .main-content-box2 .main-content-sub2 {
    margin-right: 1px;
    margin-top: 0;
    border-radius: 0 0 4px 4px;
  }
  .main-content .main-content-box2 .main-content-sub2 .main-content-img-small3 {
    border-radius: 0 0 4px 4px;
  }
}

.main-content .main-content-box2 .main-content-sub2 img {
  width: 100%;
  border: 1px solid #26704d;
  border-radius: 4px;
}

.main-content .main-content-box2 .main-content-sub2 .qa-box {
  padding: 48px 0;
}

@media screen and (max-width: 550px) {
  .main-content .main-content-box2 .main-content-sub2 .qa-box {
    padding: 40px 0;
  }
}

@media screen and (max-width: 500px) {
  .main-content .main-content-box2 .main-content-sub2 .qa-box {
    padding: 32px 0;
  }
}

@media screen and (max-width: 470px) {
  .main-content .main-content-box2 .main-content-sub2 .qa-box {
    padding: 24px 0;
  }
}

@media screen and (max-width: 440px) {
  .main-content .main-content-box2 .main-content-sub2 .qa-box {
    padding: 16px 0;
  }
}

.main-content .main-content-box2 .main-content-sub2 .qa-box p {
  margin-top: 16px;
}

@media screen and (max-width: 450px) {
  .main-content .main-content-box2 .main-content-sub2 .qa-box p {
    font-size: 16px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 375px) {
  .main-content .main-content-box2 .main-content-sub2 .qa-box p {
    margin-bottom: 24px;
  }
}

.main-content .main-content-box2 .main-content-sub2 .access-box {
  padding: 48px 0;
}

@media screen and (max-width: 550px) {
  .main-content .main-content-box2 .main-content-sub2 .access-box {
    padding: 40px 0;
  }
}

@media screen and (max-width: 500px) {
  .main-content .main-content-box2 .main-content-sub2 .access-box {
    padding: 32px 0;
  }
}

@media screen and (max-width: 470px) {
  .main-content .main-content-box2 .main-content-sub2 .access-box {
    padding: 24px 0;
  }
}

@media screen and (max-width: 440px) {
  .main-content .main-content-box2 .main-content-sub2 .access-box {
    padding: 16px 0;
  }
}

.main-content .main-content-box2 .main-content-sub2 .access-box p {
  margin-top: 16px;
}

@media screen and (max-width: 450px) {
  .main-content .main-content-box2 .main-content-sub2 .access-box p {
    font-size: 16px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 375px) {
  .main-content .main-content-box2 .main-content-sub2 .access-box p {
    margin-bottom: 24px;
  }
}
/*# sourceMappingURL=main-content.css.map */