//main-conttent.scss

.main-content {
  max-width: 1000px;
  margin: 196px auto 0;
  @media screen and(max-width:1250px) {
    margin-top: 128px;
  }
  @media screen and(max-width:375px) {
    margin-top: 60px;
  }
  p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
    @media screen and(max-width:450px) {
      margin-bottom: 32px;
    }
  }
  a {
    font-size: 18px;
    border: 1px solid #fd8516;
    border-radius: 4px;
    display: block;
    width: 150px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
    background: transparent;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    background-color: #fff;
    @media screen and(max-width:450px) {
      font-size: 14px;
      height: 32px;
      width: 100px;
      line-height: 32px;
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background: #fd8516;
      transform-origin: 100% 50%;
      transform: scaleX(0);
      transition: transform ease 0.3s;
    }
    &:hover,
    :focus {
      color: #fff;
    }
    &:hover::before,
    :focus::before {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }
  }
  .main-content-box1 {
    display: flex;
    border-radius: 4px;
    @media screen and(max-width:1050px) {
      display: block;
      max-width: 500px;
      margin: 0 auto;
      padding-left: 16px;
      padding-right: 16px;
    }

    margin-top: 100px;
    display: flex;
    border-radius: 4px;
    .main-content-image {
      width: 500px;
      max-height: 500px;
      border-radius: 4px;
      @media screen and(max-width:1050px) {
        border-radius: 4px 4px 0 0;
        width: 100%;
        max-width: 500px;
        border-radius: 4px 4px 0 0;
      }
    }

    .main-content-sub1 {
      padding-right: 1px;
      margin-top: 80px;
      border: 1px solid #26704d;
      max-width: 498px;
      border-radius: 4px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      .main-content-img-small1 {
        transform: translateY(-1px);
      }
      .main-content-img-small2 {
        transform: translate(-1px, 1px);
      }

      @media screen and(max-width:1050px) {
        margin-top: 0;
        border-radius: 0 0 4px 4px;
      }

      .main-content-img-small1 {
        @media screen and(max-width:1050px) {
          border-radius: 4px 0 4px 4px;
        }
      }

      .service-box {
        padding: 48px 0;
        @media screen and(max-width:550px) {
          padding: 40px 0;
        }
        @media screen and(max-width:500px) {
          padding: 32px 0;
        }
        @media screen and(max-width:470px) {
          padding: 24px 0;
        }
        @media screen and(max-width:440px) {
          padding: 16px 0;
        }

        p {
          margin-bottom: 16px;
          line-height: 40px;

          @media screen and(max-width:450px) {
            margin-top: 24px;
            font-size: 16px;
            line-height: 24px;
          }
          @media screen and(max-width:375px) {
            margin-top: 16px;
            margin-bottom: 8px;
          }
        }
      }
      .living-box {
        padding: 48px 0;
        @media screen and(max-width:550px) {
          padding: 40px 0;
        }
        @media screen and(max-width:500px) {
          padding: 32px 0;
        }
        @media screen and(max-width:470px) {
          padding: 24px 0;
        }
        @media screen and(max-width:440px) {
          padding: 16px 0;
        }
        p {
          margin-top: 16px;

          @media screen and(max-width:450px) {
            font-size: 16px;
            margin-top: 32px;
          }
          @media screen and(max-width:375px) {
            margin-bottom: 24px;
          }
        }
      }

      img {
        width: 100%;
        border: 1px solid #26704d;
        border-radius: 4px;
      }
      .main-content-img-small1 {
        margin-right: 3px;
        @media screen and(max-width:1050px) {
          border-radius: 4px 0 4px 4px;
        }
      }
    }
  }

  .main-content-box2 {
    margin-top: 100px;
    display: flex;
    border-radius: 4px;
    @media screen and(max-width:1050px) {
      display: block;
      max-width: 500px;
      margin: 100px auto 0;
      padding-left: 16px;
      padding-right: 16px;
    }
    @media screen and(max-width:375px) {
      margin: 40px auto 0;
    }
    .main-content-image {
      width: 500px;
      max-height: 500px;
      border-radius: 4px;
      order: 2;
      @media screen and(max-width:1050px) {
        width: 100%;
        max-width: 500px;
        order: 1;
        border-radius: 4px 4px 0 0;
      }
    }
    .main-content-sub2 {
      margin-top: 80px;
      border: 1px solid #26704d;
      border-radius: 4px;
      max-width: 498px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      .main-content-img-small3 {
        transform: translate(0, -1px);
      }

      .main-content-img-small4 {
        transform: translate(-1px, 1px);
      }
      @media screen and(max-width:1050px) {
        padding-right: 1px;
        margin-top: 0;
        border-radius: 0 0 4px 4px;
        .main-content-img-small3 {
          border-radius: 4px 0 4px 4px;
        }
      }
      img {
        width: 100%;
        border: 1px solid #26704d;
        border-radius: 4px;
      }
      .qa-box {
        padding: 48px 0;
        @media screen and(max-width:550px) {
          padding: 40px 0;
        }
        @media screen and(max-width:500px) {
          padding: 32px 0;
        }
        @media screen and(max-width:470px) {
          padding: 24px 0;
        }
        @media screen and(max-width:440px) {
          padding: 16px 0;
        }

        p {
          margin-top: 16px;

          @media screen and(max-width:450px) {
            font-size: 16px;
            margin-top: 32px;
          }
          @media screen and(max-width:375px) {
            margin-bottom: 24px;
          }
        }
      }
      .access-box {
        padding: 48px 0;
        @media screen and(max-width:550px) {
          padding: 40px 0;
        }
        @media screen and(max-width:500px) {
          padding: 32px 0;
        }
        @media screen and(max-width:470px) {
          padding: 24px 0;
        }
        @media screen and(max-width:440px) {
          padding: 16px 0;
        }
        p {
          margin-top: 16px;

          @media screen and(max-width:450px) {
            font-size: 16px;
            margin-top: 32px;
          }
          @media screen and(max-width:375px) {
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}
