//qa.scss

.qa {
  overflow-x: hidden;
  .qa-index {
    margin-top: 160px;
    margin-left: 176px;
    @media screen and(max-width:1250px) {
      margin-left: 88px;
    }
    @media screen and(max-width:900px) {
      margin-left: 48px;
      margin-right: 24px;
    }
    @media screen and(max-width:375px) {
      margin-left: 32px;
    }
  }
  .line {
    margin-top: 32px;
    position: relative;
    border: 1px solid gray;
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      top: -1px;
      left: 176px;
      width: 128px;
      border: 1px solid #23ac6d;
      @media screen and(max-width:1250px) {
        left: 88px;
      }
      @media screen and(max-width:900px) {
        left: 48px;
      }
      @media screen and(max-width:375px) {
        left: 32px;
      }
    }
  }
  .qa-text-box {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    @media screen and(max-width:900px) {
      max-width: 800px;
    }
    @media screen and(max-width:850px) {
      padding-bottom: 250px;
    }
    @media screen and(max-width:375px) {
      padding-left: 16px;
      padding-right: 16px;
      text-align: justify;
    }
    .red {
      color: red;
    }
    .blue {
      color: blue;
    }
    p {
      margin-left: 176px;
      @media screen and(max-width:900px) {
        margin-left: 56px;
      }

      @media screen and(max-width:375px) {
        margin-bottom: 24px;
        margin-left: 0;
      }

      &:first-child {
        margin-top: 64px;
      }
      &:nth-child(odd) {
        margin-bottom: 16px;
      }
      &:nth-child(even) {
        margin-bottom: 40px;
      }
    }
    img {
      position: absolute;
      right: 0px;
      bottom: -100px;
      max-width: 613px;
      z-index: -1;
      @media screen and(max-width:1050px) {
        width: 380px;
        bottom: 20px;
      }
      @media screen and(max-width:850px) {
        width: 300px;
      }
      @media screen and(max-width:800px) {
        width: 300px;
      }
      @media screen and(max-width:700px) {
        width: 250px;
      }
    }
  }
}
