//rooms.scss

.rooms {
  .rooms-index {
    margin-top: 136px;
    margin-left: 176px;
    @media screen and(max-width:1250px) {
      margin-left: 88px;
    }
    @media screen and(max-width:900px) {
      margin-left: 48px;
      margin-right: 24px;
    }
    @media screen and(max-width:375px) {
      margin-left: 32px;
      margin-top: 120px;
    }
  }
  .line {
    margin-top: 32px;
    position: relative;
    border: 1px solid gray;
    width: 100%;
    @media screen and(max-width:375px) {
      margin-top: 24px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -1px;
      left: 176px;
      width: 128px;
      border: 1px solid #23ac6d;
      @media screen and(max-width:1250px) {
        left: 88px;
      }
      @media screen and(max-width:900px) {
        left: 48px;
      }
      @media screen and(max-width:375px) {
        left: 32px;
      }
    }
  }
  .rooms-photo-box {
    margin: 64px auto 0;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    // row-gap: 40px;
    // column-gap: 40px;
    justify-content: space-between;
    align-items: stretch;
    @media screen and(max-width:1250px) {
      padding-right: 32px;
      padding-left: 32px;
      // column-gap: 24px;
      // row-gap: 24px;
    }
    @media screen and(max-width:900px) {
      padding-right: 24px;
      padding-left: 24px;
      // column-gap: 24px;
      // row-gap: 24px;
      margin-top: 32px;
    }
    @media screen and(max-width:375px) {
      // column-gap: 16px;
      // row-gap: 16px;
      margin-top: 32px;
      padding-right: 16px;
      padding-left: 16px;
    }

    .room-grid1 {
      box-sizing: border-box;
      grid-column: 1/2;
      grid-row: 1/3;
      border: 5px solid #eee; /* 線の太さ・種類・色 */
      margin: 5px; /* 外側の余白 */
      padding: 5px; /* 内側の余白 */
      position: relative;
      z-index: 0;
      border-radius: 4px;
      background-color: #fff;

      @media screen and(max-width:375px) {
        border: 3px solid #eee; /* 線の太さ・種類・色 */
        margin: 3px; /* 外側の余白 */
        padding: 3px; /* 内側の余白 */
      }
      &::before {
        border-top: 5px solid #23ac6d; /* 一部だけ異なる線の太さ・種類・色 */
        border-left: 5px solid #23ac6d; /* 一部だけ異なる線の太さ・種類・色 */
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
        z-index: 1;
        border-radius: 4px;
        @media screen and(max-width:375px) {
          border-top: 3px solid #23ac6d; /* 一部だけ異なる線の太さ・種類・色 */
          border-left: 3px solid #23ac6d; /* 一部だけ異なる線の太さ・種類・色 */
          top: -3px;
          width: 10px;
          height: 10px;
        }
      }

      .room-grid1-s {
        width: 100%;
        height: 100%;
      }
    }
    .room-grid2 {
      box-sizing: border-box;
      grid-column: 2/3;
      grid-row: 1/2;
      max-width: 488px;
      border: 5px solid #eee; /* 線の太さ・種類・色 */
      margin: 5px; /* 外側の余白 */
      padding: 5px; /* 内側の余白 */
      position: relative;
      z-index: 0;
      border-radius: 4px;
      background-color: #fff;
      @media screen and(max-width:375px) {
        border: 3px solid #eee; /* 線の太さ・種類・色 */
        margin: 3px; /* 外側の余白 */
        padding: 3px; /* 内側の余白 */
      }
      &::before {
        border-top: 5px solid #23ac6d; /* 一部だけ異なる線の太さ・種類・色 */
        border-left: 5px solid #23ac6d; /* 一部だけ異なる線の太さ・種類・色 */
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
        z-index: 1;
        border-radius: 4px;
        @media screen and(max-width:375px) {
          border-top: 3px solid #23ac6d; /* 一部だけ異なる線の太さ・種類・色 */
          border-left: 3px solid #23ac6d; /* 一部だけ異なる線の太さ・種類・色 */
          top: -3px;
          width: 10px;
          height: 10px;
        }
      }

      .room-grid2-s {
        width: 100%;
        height: 100%;
      }
    }
    .room-grid3 {
      box-sizing: border-box;
      grid-column: 2/3;
      grid-row: 2/3;
      max-width: 488px;
      border: 5px solid #eee; /* 線の太さ・種類・色 */
      margin: 5px; /* 外側の余白 */
      padding: 5px; /* 内側の余白 */
      position: relative;
      z-index: 0;
      border-radius: 4px;
      background-color: #fff;
      @media screen and(max-width:375px) {
        border: 3px solid #eee; /* 線の太さ・種類・色 */
        margin: 3px; /* 外側の余白 */
        padding: 3px; /* 内側の余白 */
      }
      &::before {
        border-top: 5px solid #23ac6d; /* 一部だけ異なる線の太さ・種類・色 */
        border-left: 5px solid #23ac6d; /* 一部だけ異なる線の太さ・種類・色 */
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
        z-index: 1;
        border-radius: 4px;
        @media screen and(max-width:375px) {
          border-top: 3px solid #23ac6d; /* 一部だけ異なる線の太さ・種類・色 */
          border-left: 3px solid #23ac6d; /* 一部だけ異なる線の太さ・種類・色 */
          top: -3px;
          width: 10px;
          height: 10px;
        }
      }

      .room-grid3-s {
        width: 100%;
        height: 100%;
      }
    }
    .room-grid-sp1 {
      display: none;
    }
    .room-grid-sp2 {
      display: none;
    }
    .room-grid-sp3 {
      display: none;
    }

    img {
      border-radius: 4px;
    }
  }
  .rooms-text {
    padding-right: 24px;
    padding-left: 24px;
    @media screen and(max-width:375px) {
      padding-left: 16px;
      padding-right: 16px;
    }
    .rooms-text-box {
      margin: 72px auto 0;
      max-width: 710px;
      background-color: #faeee0;
      border-radius: 4px;
      box-shadow: 5px 2px 2px rgb(231, 231, 231);
      @media screen and(max-width:1000px) {
        margin-top: 32px;
      }
    }
    .scroll-animation {
      display: flex;
      justify-content: space-between;
      @media screen and(max-width:1000px) {
        display: block;
        text-align: center;
        padding-right: 16px;
        padding-left: 16px;
        @media screen and(max-width:375px) {
          margin-top: 32px;
        }
      }
      .rooms-text-box-index {
        margin-left: -40px;
        margin-top: -8px;
        @media screen and(max-width:1250px) {
          margin-right: 0;
        }
        @media screen and(max-width:1000px) {
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;
        }
      }
      h5 {
        padding-top: 24px;
        border-bottom: 1px solid #333;
        display: inline-block;
        @media screen and(max-width:1250px) {
          font-size: 24px;
        }
      }
      h6 {
        margin-top: 32px;
        font-size: 20px;
      }

      p {
        max-width: 355px;
        padding-top: 24px;
        padding-bottom: 32px;
        font-size: 16px;
        padding-right: 8px;
        @media screen and(max-width:1250px) {
          text-align: justify;
        }
        @media screen and(max-width:1000px) {
          max-width: none;
          padding-right: 0;
        }
      }
    }
    .fadein {
      -webkit-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear;
      -webkit-transform: translateY(30px);
      -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
      transform: translateY(30px);
      opacity: 0;
    }
    .fadein.active {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
}
