//style.scss

@charset "utf-8";

@import "reset.scss"; // ここでリセットCSS(SCSS)を呼び出す。
@import "basic.scss"; // ここで基本設定のCSS(SCSS)を呼び出す。
@import "header.scss"; // ここでヘッダー部分のCSS(SCSS)を呼び出す。
@import "about.scss"; // ここでアバウト部分のCSS(SCSS)を呼び出す。
@import "top-page-overlay.scss"; // ここでトップページ－バーレイ部分のCSS(SCSS)を呼び出す。
@import "concept.scss"; // ここでコンセプト部分のCSS(SCSS)を呼び出す。
@import "main-content.scss"; // ここでメインコンテンツ部分のCSS(SCSS)を呼び出す。
@import "contact.scss"; // ここでコンタクト部分のCSS(SCSS)を呼び出す。
@import "footer.scss"; // ここでフッター部分のCSS(SCSS)を呼び出す。
@import "sub-header.scss"; // ここでサブヘッダー部分のCSS(SCSS)を呼び出す。
@import "rooms.scss"; // ここでルーム部分のCSS(SCSS)を呼び出す。
@import "common-space.scss"; // ここで共有スペース部分のCSS(SCSS)を呼び出す。
@import "living.scss"; // ここで暮らし部分のCSS(SCSS)を呼び出す。
@import "qa.scss"; // ここでq&a部分のCSS(SCSS)を呼び出す。
@import "access.scss"; // ここでアクセス部分のCSS(SCSS)を呼び出す。

.top-page-overlay-sub {
  position: absolute;
  width: 100%;
  background: linear-gradient(135deg, #fff, #faeee0);
  z-index: -1;
  margin-top: 48px;
}

body {
  animation: fadein 3s forwards;
  overflow-x: hidden;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#mask {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(172, 169, 169, 0.842);
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}

.mask {
  opacity: 1 !important;
  z-index: 3 !important;
  transition: 0.3s;
}
