@charset "utf-8";

/* ==========ここからリセットCSS============= */
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
  ::after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
  }

  /* Document */
  /* ============================================ */

  /**
	 * 1. Correct the line height in all browsers.
	 * 2. Prevent adjustments of font size after orientation changes in iOS.
	 * 3. Remove gray overlay on links for iOS.
	 */

  /* Sections */
  /* ============================================ */

  /**
	 * Remove the margin in all browsers.
	 */

  body {
    margin: 0;
  }

  /**
	 * Render the `main` element consistently in IE.
	 */

  main {
    display: block;
  }

  /* Vertical rhythm */
  /* ============================================ */

  p,
  table,
  blockquote,
  address,
  pre,
  iframe,
  form,
  figure,
  dl {
    margin: 0;
  }

  /* Headings */
  /* ============================================ */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
  }

  /* Lists (enumeration) */
  /* ============================================ */

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* Lists (definition) */
  /* ============================================ */

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 0;
  }

  /* Grouping content */
  /* ============================================ */

  /**
	 * 1. Add the correct box sizing in Firefox.
	 * 2. Show the overflow in Edge and IE.
	 */

  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit;
  }

  /**
	 * 1. Correct the inheritance and scaling of font size in all browsers.
	 * 2. Correct the odd `em` font sizing in all browsers.
	 */

  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: inherit; /* 2 */
  }

  address {
    font-style: inherit;
  }

  /* Text-level semantics */
  /* ============================================ */

  /**
	 * Remove the gray background on active links in IE 10.
	 */

  a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
  }

  /**
	 * 1. Remove the bottom border in Chrome 57-
	 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
	 */

  abbr[title] {
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }

  /**
	 * Add the correct font weight in Chrome, Edge, and Safari.
	 */

  b,
  strong {
    font-weight: bolder;
  }

  /**
	 * 1. Correct the inheritance and scaling of font size in all browsers.
	 * 2. Correct the odd `em` font sizing in all browsers.
	 */

  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: inherit; /* 2 */
  }

  /**
	 * Add the correct font size in all browsers.
	 */

  small {
    font-size: 80%;
  }

  /**
	 * Prevent `sub` and `sup` elements from affecting the line height in
	 * all browsers.
	 */

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  /* Embedded content */
  /* ============================================ */

  /**
	 * Prevent vertical alignment issues.
	 */

  img,
  embed,
  object,
  iframe {
    vertical-align: bottom;
  }

  /* Forms */
  /* ============================================ */

  /**
	 * Reset form fields to make them styleable
	 */

  button,
  input,
  optgroup,
  select,
  textarea {
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
    color: inherit;
    font: inherit;
    background: transparent;
    padding: 0;
    margin: 0;
    outline: 0;
    border-radius: 0;
    text-align: inherit;
  }

  /**
	 * Reset radio and checkbox appearance to preserve their look in iOS.
	 */

  [type="checkbox"] {
    -webkit-appearance: checkbox;
    appearance: checkbox;
  }

  [type="radio"] {
    -webkit-appearance: radio;
    appearance: radio;
  }

  /**
	 * Show the overflow in IE.
	 * 1. Show the overflow in Edge.
	 */

  button,
  input {
    /* 1 */
    overflow: visible;
  }

  /**
	 * Remove the inheritance of text transform in Edge, Firefox, and IE.
	 * 1. Remove the inheritance of text transform in Firefox.
	 */

  button,
  select {
    /* 1 */
    text-transform: none;
  }

  /**
	 * Correct the inability to style clickable types in iOS and Safari.
	 */

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
  }

  button[disabled],
  [type="button"][disabled],
  [type="reset"][disabled],
  [type="submit"][disabled] {
    cursor: default;
  }

  /**
	 * Remove the inner border and padding in Firefox.
	 */

  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  /**
	 * Restore the focus styles unset by the previous rule.
	 */

  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  /**
	 * Remove arrow in IE10 & IE11
	 */

  select::-ms-expand {
    display: none;
  }

  /**
	 * Remove padding
	 */

  option {
    padding: 0;
  }

  /**
	 * Reset to invisible
	 */

  fieldset {
    margin: 0;
    padding: 0;
    min-width: 0;
  }

  /**
	 * 1. Correct the text wrapping in Edge and IE.
	 * 2. Correct the color inheritance from `fieldset` elements in IE.
	 * 3. Remove the padding so developers are not caught out when they zero out
	 *    `fieldset` elements in all browsers.
	 */

  legend {
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }

  /**
	 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
	 */

  progress {
    vertical-align: baseline;
  }

  /**
	 * Remove the default vertical scrollbar in IE 10+.
	 */

  textarea {
    overflow: auto;
  }

  /**
	 * Correct the cursor style of increment and decrement buttons in Chrome.
	 */

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  /**
	 * 1. Correct the outline style in Safari.
	 */

  [type="search"] {
    outline-offset: -2px; /* 1 */
  }

  /**
	 * Remove the inner padding in Chrome and Safari on macOS.
	 */

  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  /**
	 * 1. Correct the inability to style clickable types in iOS and Safari.
	 * 2. Change font properties to `inherit` in Safari.
	 */

  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }

  /**
	 * Clickable labels
	 */

  label[for] {
    cursor: pointer;
  }

  /* Interactive */
  /* ============================================ */

  /*
	 * Add the correct display in Edge, IE 10+, and Firefox.
	 */

  details {
    display: block;
  }

  /*
	 * Add the correct display in all browsers.
	 */

  summary {
    display: list-item;
  }

  /*
	 * Remove outline for editable content.
	 */

  [contenteditable] {
    outline: none;
  }

  /* Table */
  /* ============================================ */

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  caption {
    text-align: left;
  }

  td,
  th {
    vertical-align: top;
    padding: 0;
  }

  th {
    text-align: left;
    font-weight: bold;
  }

  /* Misc */
  /* ============================================ */

  /**
	 * Add the correct display in IE 10+.
	 */

  template {
    display: none;
  }

  /**
	 * Add the correct display in IE 10.
	 */

  [hidden] {
    display: none;
  }
}

/* ==========基本設定============= */
body {
  font-family: kiwi Maru;
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 48px;
    letter-spacing: 0.1em;
    color: #23ac6d;
  }
  h4 {
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #f3a409;
  }
  h5 {
    font-size: 30px;
    letter-spacing: 0.1em;
  }
  h6 {
    font-size: 24px;
    letter-spacing: 0.1em;
  }
  p {
    letter-spacing: 0.1em;
  }

  header {
    position: relative;
    height: 100vh;
    overflow-y: hidden;
    .header-wrapper {
      position: fixed;
      z-index: 3;
      top: 0;
      width: 100%;
      height: 88px;
      display: flex;
      justify-content: space-between;
      line-height: 88px;
      background-color: #fff;

      img {
        margin-left: 64px;
        height: 88px;
      }
      nav {
        display: flex;
        justify-content: space-between;
        margin-right: 64px;
        a {
          margin-left: 33px;
          position: relative;
          display: inline-block;
          text-decoration: none;
          font-size: 16px;
          &::after {
            position: absolute;
            bottom: 24px;
            left: 0;
            content: "";
            width: 100%;
            height: 1px;
            background: #333;
            transform: scale(0, 1);
            transform-origin: left top;
            transition: transform 0.3s;
          }
          &:hover::after {
            transform: scale(1, 1);
          }
        }
      }
    }
    #header-text-box {
      position: absolute;
      right: 56px;
      bottom: 0;
      background-color: #fff;
      display: flex;
      justify-content: center;
      //   justify-content: space-between;
      height: 88px;
      padding-top: 14px;
      width: 532px;
      #header-text-sub-box {
        transform: translateY(5px);
        letter-spacing: 0.2em;

        #top-sub-text-layout {
          transform: translateX(20px);
        }
      }
    }
    .contact-btn {
      text-align: center;
      display: flex;
      width: 208px;
      height: 64px;
      background-color: #23ac6d;
      color: #fff;
      position: fixed;
      top: 104px;
      right: 24px;
      border-radius: 4px;
      z-index: 4;
      .far {
        line-height: 64px;
        margin-left: 16px;
      }
      p {
        margin-left: 16px;
        line-height: 64px;
        font-size: 18px;
        letter-spacing: 0.05em;
      }
    }
    .contact-btn-sp {
      display: none;
    }
    .hamburger {
      display: none;
    }
  }
  #about {
    position: relative;
    padding-top: 100px;
    padding-bottom: 128px;
    margin: 0 auto;
    max-width: 800px;

    h4 {
      letter-spacing: 0.1em;
    }

    p {
      margin-top: 24px;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.2em;
    }
    #about-image-box {
      position: absolute;
      top: 100px;
      right: -200px;
      z-index: -1;
      overflow-x: hidden;
      img {
        width: 400px;
      }
      p {
        font-size: 14px;
        text-align: right;
        transform: translate(-50px, -160px);
      }
    }
  }

  #top-page-overlay {
    width: 100%;
    bottom: 0;
    top: 0;
    background: linear-gradient(315deg, #fff, #faeee0);
    z-index: -5;
  }

  #concept {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 32px;

    p {
      margin-top: 24px;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.2em;
    }
    #concept-box1 {
      display: flex;
      position: relative;
      img {
        width: 70%;
        border-radius: 4px;
      }
      #content-box1-overlay {
        position: absolute;
        background-color: rgba(241, 218, 218, 0.3);
        box-shadow: 5px 2px 2px rgb(231, 231, 231);
        height: 327px;
        width: 500px;
        bottom: -24px;
        right: 24px;
        z-index: -1;
      }
      #concept-box1-text-box {
        margin-top: 100px;
        padding-left: 8px;
        height: 327px;
        margin-left: -80px;

        h3 {
          white-space: nowrap;
          margin-left: -30px;
          margin-top: -24px;
          padding-left: 80px;
        }
        h4 {
          padding-left: 80px;
        }
        p {
          margin-top: 48px;
          padding-left: 80px;
          max-width: 428px;
        }
      }
    }
    #concept-box2 {
      display: flex;
      position: relative;
      margin-top: 100px;
      img {
        order: 2;
        width: 60%;
        border-radius: 4px;
      }
      #content-box2-overlay {
        position: absolute;
        background-color: rgba(241, 218, 218, 0.3);
        box-shadow: 5px 2px 2px rgb(231, 231, 231);
        height: 327px;
        width: 500px;
        bottom: -64px;
        left: 24px;
        z-index: -1;
      }
      #concept-box2-text-box {
        margin: 0 0 0 auto;
        margin-top: 100px;
        height: 327px;
        padding-right: 8px;
        h3 {
          white-space: nowrap;
          margin-left: -30px;
          margin-top: -24px;
        }
        h4 {
          margin-left: -28px;
        }
        p {
          margin-top: 48px;
          max-width: 434px;
          margin-left: -30px;
        }
      }
    }
  }

  #main-content {
    max-width: 1000px;
    margin: 196px auto 0;
    p {
      font-size: 24px;
      text-align: center;
      margin-top: 96px;
      margin-bottom: 40px;
    }
    a {
      font-size: 18px;
      border: 1px solid #fd8516;
      border-radius: 4px;
      display: block;
      width: 150px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      margin: 0 auto;
      background: transparent;
      position: relative;
      z-index: 1;
      transition: 0.3s;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: #fd8516;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform ease 0.3s;
      }
      &:hover {
        color: #fff;
      }
      &:hover::before {
        transform-origin: 0% 50%;
        transform: scaleX(1);
      }
    }
    #main-content-box1 {
      display: flex;
      border-radius: 4px;
      .main-content-image {
        width: 500px;
        max-height: 500px;
        border-radius: 4px;
      }
      #main-content-sub1 {
        padding-right: 1px;
        margin-top: 80px;
        border: 1px solid #26704d;
        max-width: 498px;
        border-radius: 4px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        #service-box p {
          margin-top: 72px;
          margin-bottom: 16px;
          line-height: 40px;
        }
        img {
          width: 100%;
          border: 1px solid #26704d;
          border-radius: 4px;
        }
        .main-content-img-small1 {
          margin-right: 3px;
        }
      }
    }

    #main-content-box2 {
      margin-top: 100px;
      display: flex;
      border-radius: 4px;
      .main-content-image {
        width: 500px;
        max-height: 500px;
        border-radius: 4px;
        order: 2;
      }
      #main-content-sub2 {
        margin-top: 80px;
        border: 1px solid #26704d;
        border-radius: 4px;
        max-width: 498px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        img {
          width: 100%;
          border: 1px solid #26704d;
          border-radius: 4px;
        }
      }
    }
  }

  #contact {
    width: 100vw;
    margin-top: 128px;
    padding-top: 48px;
    padding-bottom: 48px;
    width: 100%;
    background: url(../img/contact.png) no-repeat;

    #contact-box {
      margin-top: 48px;
      max-width: 1000px;
      margin: 0 auto;
      background-color: rgba(247, 233, 217, 0.8);

      h3 {
        text-align: center;
        padding-top: 32px;
      }
      form {
        margin: 32px auto 0;
        max-width: 480px;
        letter-spacing: 0.3em;
        #name {
          display: block;
          width: 480px;
          height: 30px;
          border: 1px solid #333;
          border-radius: 4px;
          margin-top: 4px;
          padding-left: 8px;
          padding-right: 8px;
        }
        #e-mail {
          display: block;
          width: 480px;
          height: 30px;
          border: 1px solid #333;
          border-radius: 4px;
          margin-top: 4px;
          padding-left: 8px;
          padding-right: 8px;
        }
        input {
          margin-bottom: 24px;
        }
        textarea {
          display: block;
          width: 480px;
          border-radius: 4px;
          margin-top: 4px;
          padding-left: 8px;
          padding-right: 8px;
        }
        .radio {
          display: flex;
          margin-bottom: 24px;
          .radio-btn {
            margin-left: 40px;
            margin-top: 3px;
            margin-right: 2px;
            &:first-child {
              margin-left: 0;
            }
          }
        }
        .submit {
          text-align: center;
          padding-bottom: 48px;
          font-size: 24px;
          button {
            width: 200px;
            height: 48px;
            text-align: center;
            border: 1px solid #23ac6d;
            border-radius: 4px;
            margin-top: 48px;
            letter-spacing: 0.3em;
            background: transparent;
            position: relative;
            z-index: 1;
            transition: 0.3s;
            &::before {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              background: #23ac6d;
              transform-origin: 100% 50%;
              transform: scaleX(0);
              transition: transform ease 0.3s;
            }
            &:hover {
              color: #fff;
            }
            &:hover::before {
              transform-origin: 0% 50%;
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  footer {
    height: 88px;
    background-color: #fff;
    p {
      text-align: center;
      font-size: 12px;
      line-height: 88px;
    }
    .fa-twitter {
      position: fixed;
      bottom: 88px;
      right: 24px;
      font-size: 48px;
      color: #23ac6d;
    }
    .fa-instagram {
      position: fixed;
      bottom: 24px;
      right: 24px;
      font-size: 48px;
      color: #23ac6d;
    }
  }

  /* ==========service page============= */

  .sub-header {
    position: relative;
    .header-wrapper {
      .hamburger {
        display: none;
      }
      position: fixed;
      z-index: 3;
      top: 0;
      width: 100%;
      height: 88px;
      display: flex;
      justify-content: space-between;
      line-height: 88px;
      background-color: #fff;
      img {
        margin-left: 64px;
        height: 88px;
      }
      nav {
        display: flex;
        justify-content: space-between;
        margin-right: 64px;
        a {
          margin-left: 33px;
          position: relative;
          display: inline-block;
          text-decoration: none;
          font-size: 16px;
          &::after {
            position: absolute;
            bottom: 24px;
            left: 0;
            content: "";
            width: 100%;
            height: 1px;
            background: #333;
            transform: scale(0, 1);
            transform-origin: left top;
            transition: transform 0.3s;
          }
          &:hover::after {
            transform: scale(1, 1);
          }
        }
      }
    }

    .contact-btn {
      text-align: center;
      display: flex;
      width: 208px;
      height: 64px;
      background-color: #23ac6d;
      color: #fff;
      position: fixed;
      top: 104px;
      right: 24px;
      border-radius: 4px;
      z-index: 4;
      .far {
        line-height: 64px;
        margin-left: 16px;
      }
      p {
        margin-left: 16px;
        line-height: 64px;
        font-size: 18px;
        letter-spacing: 0.05em;
      }
    }
  }

  #rooms {
    #rooms-index {
      margin-top: 160px;
      margin-left: 176px;
    }
    .line {
      margin-top: 32px;
      position: relative;
      border: 1px solid gray;
      width: 100%;

      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: 176px;
        width: 128px;
        border: 1px solid #23ac6d;
      }
    }
    #rooms-photo-box {
      margin: 64px auto 0;
      max-width: 1200px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 40px;
      column-gap: 40px;
      justify-content: space-between;

      .room-grid1 {
        grid-column: 1/2;
        grid-row: 1/3;
      }
      .room-grid2 {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      .room-grid3 {
        grid-column: 2/3;
        grid-row: 2/3;
      }

      img {
        border-radius: 4px;
      }
    }
    #rooms-text {
      padding-right: 40px;
      padding-left: 40px;
      #rooms-text-box {
        margin: 72px auto 0;
        max-width: 710px;
        background-color: #faeee0;
        border-radius: 4px;
        display: flex;
        box-shadow: 5px 2px 2px rgb(231, 231, 231);

        #rooms-text-box-index {
          margin-left: -104px;
        }
        h5 {
          padding-top: 32px;
          border-bottom: 1px solid #333;
          display: inline-block;
        }
        h6 {
          margin-top: 32px;
          line-height: 40px;
        }

        p {
          max-width: 355px;
          padding-top: 24px;
          padding-bottom: 24px;
          font-size: 16px;
          line-height: 32px;
          padding-right: 8px;
        }
      }
    }
  }

  #top-page-overlay-sub {
    position: absolute;
    width: 100%;
    background: linear-gradient(135deg, #fff, #faeee0);
    z-index: -5;
  }

  #common-space {
    margin: 0 auto;

    #common-space-index {
      margin-top: 160px;
      margin-left: 176px;
    }
    .line {
      margin-top: 32px;
      position: relative;
      border: 1px solid gray;
      width: 100%;
      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: 176px;
        width: 128px;
        border: 1px solid #23ac6d;
      }
    }
    #common-space-photo-box {
      margin: 64px auto 0;
      max-width: 1200px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 40px;
      row-gap: 40px;

      .grid-child1 {
        grid-column: 1/4;
        grid-row: 1/2;
      }
      .grid-child2 {
        grid-column: 4/7;
        grid-row: 1/2;
      }
      .grid-child3 {
        grid-column: 1/3;
        grid-row: 2/3;
      }
      .grid-child4 {
        grid-column: 3/5;
        grid-row: 2/3;
      }
      .grid-child5 {
        grid-column: 5/7;
        grid-row: 2/3;
      }
    }
    #common-space-text {
      padding-right: 40px;
      padding-left: 40px;
      #common-space-text-box {
        margin: 72px auto 0;
        max-width: 710px;
        background-color: #f1f1f1;
        border-radius: 4px;
        display: flex;
        box-shadow: 5px 2px 2px rgb(231, 231, 231);

        #common-space-text-box-index {
          margin-left: -80px;
          .sp-br {
            display: none;
          }
        }
        h5 {
          padding-top: 32px;
          border-bottom: 1px solid #333;
          display: inline-block;
        }
        h6 {
          margin-top: 32px;
          line-height: 40px;
        }

        p {
          max-width: 355px;
          padding-top: 24px;
          padding-bottom: 24px;
          font-size: 16px;
          line-height: 32px;
          padding-right: 8px;
        }
      }
    }
  }

  #living {
    padding-bottom: 100px;

    #living-index {
      margin-top: 160px;
      margin-left: 176px;
    }
    .line {
      margin-top: 32px;
      position: relative;
      border: 1px solid gray;
      width: 100%;
      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: 176px;
        width: 128px;
        border: 1px solid #23ac6d;
      }
    }
    #living-content-box1 {
      margin-top: 64px;
      display: flex;
      justify-content: center;
      padding-right: 40px;
      padding-left: 40px;

      span {
        color: #f3a409;
        border-bottom: 1px solid #f3a409;
      }
      .living-text-box {
        max-width: 640px;
        height: 212px;
        margin-top: 64px;
        margin-right: -160px;
        background-color: #faeee0;
        border-radius: 4px;
        padding-left: 16px;
        padding-right: 16px;
        box-shadow: 5px 2px 2px rgb(231, 231, 231);

        h5 {
          margin-top: -24px;
        }
        p {
          margin-top: 40px;
          font-size: 16px;
          letter-spacing: 0.05em;
          line-height: 32px;
        }
      }
      img {
        z-index: -1;
        order: 2;
      }
    }
    #living-content-box2 {
      margin-top: 64px;
      display: flex;
      justify-content: center;
      padding-right: 40px;
      padding-left: 40px;
      span {
        color: #f3a409;
        border-bottom: 1px solid #f3a409;
      }
      .living-text-box {
        max-width: 640px;
        height: 212px;
        margin-top: 64px;
        margin-left: -160px;
        background-color: #f1f1f1;
        border-radius: 4px;
        padding-left: 16px;
        padding-right: 16px;
        box-shadow: 5px 2px 2px rgb(231, 231, 231);

        h5 {
          margin-top: -24px;
          text-align: right;
        }
        p {
          margin-top: 40px;
          font-size: 16px;
          letter-spacing: 0.05em;
          line-height: 32px;
        }
        img {
          z-index: -1;
        }
      }
    }
    #living-content-box3 {
      margin-top: 64px;
      display: flex;
      justify-content: center;
      padding-right: 40px;
      padding-left: 40px;
      span {
        color: #f3a409;
        border-bottom: 1px solid #f3a409;
      }
      .living-text-box {
        max-width: 640px;
        height: 212px;
        margin-top: 64px;
        margin-right: -160px;
        background-color: #faeee0;
        border-radius: 4px;
        padding-left: 16px;
        padding-right: 16px;
        box-shadow: 5px 2px 2px rgb(231, 231, 231);

        h5 {
          margin-top: -24px;
        }
        p {
          margin-top: 40px;
          font-size: 16px;
          letter-spacing: 0.05em;
          line-height: 32px;
        }
      }
      img {
        z-index: -1;
        order: 2;
      }
    }
    #contact-btn2 {
      display: block;
      margin: 100px auto 100px;
      width: 500px;
      line-height: 72px;
      height: 72px;
      font-size: 24px;
      text-align: center;
      border: 1px solid #23ac6d;
      border-radius: 4px;
      letter-spacing: 0.3em;
      background: transparent;
      position: relative;
      z-index: 1;
      transition: 0.3s;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: #23ac6d;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform ease 0.3s;
      }
      &:hover {
        color: #fff;
      }
      &:hover::before {
        transform-origin: 0% 50%;
        transform: scaleX(1);
      }
    }
  }

  .fadein-left {
    -webkit-transition: all 0.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    opacity: 0;
    transform: translateX(-50px);
  }
  .fadein-left.active {
    opacity: 1;
    transform: translateX(0);
  }
  .fadein-right {
    -webkit-transition: all 0.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    opacity: 0;
    transform: translateX(50px);
  }
  .fadein-right.active {
    opacity: 1;
    transform: translateX(0);
  }

  .fadein {
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  .fadein.active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  /* ==========q&a page============= */

  #qa {
    #qa-index {
      margin-top: 160px;
      margin-left: 176px;
    }
    .line {
      margin-top: 32px;
      position: relative;
      border: 1px solid gray;
      width: 100%;
      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: 176px;
        width: 128px;
        border: 1px solid #23ac6d;
      }
    }
    #qa-text-box {
      margin: 0 auto;
      max-width: 1200px;
      position: relative;
      .red {
        color: red;
      }
      .blue {
        color: blue;
      }
      p {
        margin-left: 176px;
        &:first-child {
          margin-top: 64px;
        }
        &:nth-child(odd) {
          margin-bottom: 16px;
        }
        &:nth-child(even) {
          margin-bottom: 40px;
        }
      }
      img {
        position: absolute;
        right: 0px;
        bottom: -100px;
        max-width: 613px;
        z-index: -1;
      }
    }
  }

  #access {
    #access-index {
      margin-top: 160px;
      margin-left: 176px;
    }
    .line {
      margin-top: 32px;
      position: relative;
      border: 1px solid gray;
      width: 100%;
      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: 176px;
        width: 128px;
        border: 1px solid #23ac6d;
      }
    }
    #access-wrapper {
      padding-right: 40px;
      padding-left: 40px;
      #access-box {
        max-width: 1000px;
        margin: 64px auto 0;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #faeee0;
        display: flex;
        justify-content: center;

        address {
          padding-left: 64px;
          padding-right: 32px;
          padding-top: 96px;
          font-size: 16px;
          letter-spacing: 0.1em;
          #address-index {
            font-size: 24px;
          }
          p {
            margin-bottom: 40px;
            max-width: 500px;
          }
          tr {
            line-height: 40px;
            .td-index {
              width: 100px;
            }
            tr {
              max-width: 300px;
            }
          }
        }
        iframe {
          padding-right: 64px;
          max-width: 430px;
        }
      }
    }
    #contact-btn3 {
      display: block;
      margin: 100px auto 100px;
      width: 500px;
      line-height: 72px;
      height: 72px;
      font-size: 24px;
      text-align: center;
      border: 1px solid #23ac6d;
      border-radius: 4px;
      letter-spacing: 0.3em;
      background: transparent;
      position: relative;
      z-index: 1;
      transition: 0.3s;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: #23ac6d;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform ease 0.3s;
      }
      &:hover {
        color: #fff;
      }
      &:hover::before {
        transform-origin: 0% 50%;
        transform: scaleX(1);
      }
    }
  }

  /* ==========max-width 1250============= */
  @media screen and(max-width:1250px) {
    #about {
      text-align: center;
      p {
        max-width: 700px;
        margin: 40px auto 0;
      }
      #about-image-box {
        right: -125px;
        top: 200px;
        p {
          transform: translate(-50px, -170px);
        }
      }
    }
    #concept {
      #concept-box1 {
        display: block;
        text-align: center;
        p {
          margin: 48px auto 0;
          max-width: 700px !important;
        }
      }
      #concept-box2 {
        display: block;
        text-align: center;
        img {
          order: 1;
        }
        p {
          margin: 48px auto 0 !important;
          max-width: 700px !important;
        }
      }
    }
    #main-content {
      margin-top: 128px;
      .main-contet-image {
        max-width: 500px;
      }
    }
    /* ==========max-width 1250 service page============= */

    #rooms {
      .line {
        &::after {
          left: 88px;
        }
      }

      #rooms-photo-box {
        padding-right: 40px;
        padding-left: 40px;

        .room-grid1 {
          width: 100%;
        }
        .room-grid2 {
          width: 100%;
        }
        .room-grid3 {
          width: 100%;
        }
      }
      #rooms-index {
        margin-left: 88px;
      }
    }
    #common-space {
      .line {
        &::after {
          left: 88px;
        }
      }

      #common-space-photo-box {
        padding-right: 40px;
        padding-left: 40px;
        .grid-child1 {
          width: 100%;
        }
        .grid-child2 {
          width: 100%;
        }
        .grid-child3 {
          width: 100%;
        }
        .grid-child4 {
          width: 100%;
        }
        .grid-child5 {
          width: 100%;
        }
      }
      #common-space-index {
        margin-left: 88px;
      }
    }
    #living {
      .line {
        &::after {
          left: 88px;
        }
      }
      #living-index {
        margin-left: 88px;
      }
    }
    /* ==========max-width 1250 q&a page============= */
    #qa {
      .line {
        &::after {
          left: 88px;
        }
      }

      #qa-index {
        margin-left: 88px;
      }

      #qa-text-box {
        img {
          width: 480px;
        }
        p {
          margin-left: 88px;
        }
      }
    }
    #access {
      .line {
        &::after {
          left: 88px;
        }
      }

      #access-index {
        margin-left: 88px;
      }
    }
  }
  /* ==========max-width 1050============= */
  @media screen and(max-width:1050px) {
    #about {
      #about-image-box {
        right: -80px;
        top: 250px;
        img {
          width: 300px;
        }
        p {
          font-size: 12px;
          transform: translate(-40px, -120px);
        }
      }
    }
    #main-content {
      #main-content-box1 {
        display: block !important;
        max-width: 500px;
        margin: 0 auto;
        .main-content-image {
          border-radius: 4px 4px 0 0;
          width: 100% !important;
        }
        #main-content-sub1 {
          margin-top: 0;
          border-radius: 0 0 4px 4px;

          .main-content-img-small1 {
            border-radius: 0 0 4px 4px;
          }
        }
        .main-content-image {
          max-width: 500px;
          border-radius: 4px 4px 0 0;
        }
      }
      #main-content-box2 {
        display: block !important;
        max-width: 500px;
        margin: 100px auto 0;
        .main-content-image {
          width: 100% !important;
        }

        #main-content-sub2 {
          margin-right: 1px;
          margin-top: 0 !important;
          border-radius: 0 0 4px 4px !important;
          .main-content-img-small3 {
            border-radius: 0 0 4px 4px !important;
          }
        }
        .main-content-image {
          max-width: 500px !important;
          order: 1;
          border-radius: 4px 4px 0 0 !important;
        }
      }
    }
    #contact {
      #contact-box {
        max-width: 800px;
      }
    }
    /* ==========q&a-page 1050============= */
    #qa {
      #qa-text-box {
        img {
          width: 380px;
          bottom: 20px;
        }
      }
    }
    #access {
      #access-box {
        max-width: 800px;
        padding-left: 24px;
        padding-right: 24px;
        address {
          padding-left: 40px;
          width: 100%;
        }
        iframe {
          padding-right: 40px;
          width: 100%;
        }
        tbody {
          font-size: 14px;
        }
      }
    }
  }
  /* ==========max-width 975============= */
  @media screen and(max-width:975px) {
    h5 {
      font-size: 24px;
    }
    h6 {
      font-size: 20px;
    }
    #about {
      p {
        max-width: 500px;
      }
      #about-image-box {
        right: -5px;
        top: 350px;
      }
    }
    #concept {
      p {
        max-width: 500px;
      }
    }
    /* ==========mservice-page 950============= */
    #rooms {
      #rooms-text-box {
        #rooms-text-box-index {
          margin-left: -24px;
          margin-right: 24px;
        }
      }
    }
    #common-space {
      #common-space-text-box {
        #common-space-text-box-index {
          margin-left: -24px;
          margin-right: 24px;
          .sp-br {
            display: block;
          }
        }
      }
    }
  }
  /* ==========max-width 900============= */
  @media screen and(max-width:900px) {
    .pc-nav {
      display: none !important;
    }
    .contact-btn {
      display: none !important;
    }
    .contact-btn-sp {
      display: block !important;
      text-align: center;
      width: 48px;
      height: 48px;
      background-color: #23ac6d;
      color: #fff;
      position: fixed;
      top: 24px;
      right: 8px;
      border-radius: 4px;
      z-index: 4;
      .far {
        line-height: 48px;
      }
    }
    #about {
      #about-image-box {
        top: 250px;
      }
    }
    .hamburger {
      display: block !important;
      a {
        width: 150px;
        &::after {
          bottom: 16px !important;
        }
      }
      .nav {
        width: 200px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 60px;
        color: #333;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -250px;
        // width: 100px;
        background-color: #fff;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        z-index: 10;
        #nav_main_text {
          margin-top: 80px;
          background-color: #fff;
          color: #333;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          line-height: 60px;
          text-align: center;
        }
      }

      .fadein {
        -webkit-transform: translateX(-250px);
        transform: taranslateX(-250px);
        z-index: 5;
        opacity: 1;
      }
      /*ハンバーガーライン*/
      #target {
        width: 40px;
        height: 30px;
        position: fixed;
        top: 30px;
        right: 88px;
        cursor: pointer;
        display: block;
        transition: 0.5;
        z-index: 19;

        .target_inner {
          width: 40px;
          height: 30px;
          position: relative;
          .target_inner_line {
            display: block;
            width: 40px;
            height: 5px;
            transition: 0.3s;
            border-radius: 50px;
            position: absolute;
            background-color: #333;
          }
          .target_inner_1 {
            top: 0px;
          }
          .target_inner_2 {
            top: 13px;
          }
          .target_inner_3 {
            top: 26px;
          }
          // .linea,
          // lineb,
          // .linec {
          //   background: #fff;
          // }
          .linea {
            transform: rotate(45deg);
            top: 13px;
          }
          .lineb {
            opacity: 0;
          }
          .linec {
            transform: rotate(-45deg);
            top: 13px;
          }
        }
      }
      .slidex {
        z-index: 20;
      }
    }
    h1 {
      font-size: 48px;
    }

    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 40px;
    }
    h4 {
      font-size: 20px;
    }

    #header-text-box {
      width: 350px !important;
      height: 56px !important;
      padding-bottom: 16px;
    }
    #about {
      p {
        font-size: 16px;
      }
    }
    #concept {
      max-width: 600px;
      img {
        width: 100% !important;
      }
      #concept-box1-text-box {
        margin: 100px auto 0 !important;
        h3 {
          padding-left: 0 !important;
        }
        h4 {
          padding-left: 0 !important;
        }
        p {
          font-size: 16px;
          padding-left: 0 !important;
        }
      }
      #concept-box2-text-box {
        margin: 100px auto 0 !important;
        max-width: 550px;
        p {
          font-size: 16px;
        }
      }
    }
    #contact {
      #contact-box {
        max-width: 600px;
      }
    }
  }

  /* ==========max-width 850============= */
  @media screen and(max-width:850px) {
    #about {
      padding-left: 16px;
      padding-right: 16px;
      #about-image-box {
        top: 300px;
        right: 10px;
      }
    }
    #concept {
      padding-left: 16px;
      padding-right: 16px;
      h3 {
        white-space: normal !important;
      }
    }
    /* ==========service-page 850============= */
    #rooms {
      #rooms-text {
        #rooms-text-box {
          display: block;
          text-align: center;
          padding-right: 16px;
          padding-left: 16px;
          #rooms-text-box-index {
            margin-left: 0;
            margin-right: 0;
          }
          p {
            max-width: none;
            text-align: justify;
          }
        }
      }
    }
    #common-space {
      #common-space-text {
        #common-space-text-box {
          display: block;
          text-align: center;
          padding-right: 16px;
          padding-left: 16px;
          #common-space-text-box-index {
            margin-left: 0;
            margin-right: 0;
            h6 {
              .sp-br {
                display: none;
              }
            }
          }
          p {
            max-width: none;
            text-align: justify;
          }
        }
      }
    }
    #living {
      #living-content-box1 {
        display: block;
        text-align: center;
        .living-text-box {
          margin: 64px auto 0;
          p {
            text-align: justify;
          }
        }
      }
      #living-content-box2 {
        display: block;
        text-align: center;
        .living-text-box {
          margin: 64px auto 0;
          h5 {
            text-align: center;
          }
          p {
            text-align: justify;
          }
        }
      }
      #living-content-box3 {
        display: block;
        text-align: center;
        .living-text-box {
          margin: 64px auto 0;
          h5 {
            text-align: center;
          }
          p {
            text-align: justify;
          }
        }
      }
    }
  }

  /* ==========max-width 700============= */
  @media screen and(max-width:700px) {
    // #common-space {
    //   #common-space-photo-box {
    //     margin: 64px auto 0;
    //     max-width: 1200px;
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    //     grid-template-rows: 1fr 1fr 1fr;
    //     column-gap: 40px;
    //     row-gap: 40px;

    //     .grid-child1 {
    //       grid-column: 1/3;
    //       grid-row: 1/2;
    //     }
    //     .grid-child2 {
    //       grid-column: 1/2;
    //       grid-row: 2/3;
    //     }
    //     .grid-child3 {
    //       grid-column: 2/3;
    //       grid-row: 2/3;
    //     }
    //     .grid-child4 {
    //       grid-column: 1/2;
    //       grid-row: 3/4;
    //     }
    //     .grid-child5 {
    //       grid-column: 2/3;
    //       grid-row: 3/4;
    //     }
    //   }
    // }

    .living-text-box {
      padding-bottom: 40px;
    }
    #living-content-box1 {
      img {
        width: 100%;
      }
    }
    #living-content-box2 {
      img {
        width: 100%;
      }
    }
    #living-content-box3 {
      img {
        width: 100%;
      }
    }

    #contact {
      #contact-box {
        max-width: 500px;
        form {
          label {
            padding-left: 30px;
          }
          #name {
            width: 400px;
            margin: 4px auto 24px;
          }
          #e-mail {
            width: 400px;
            margin: 4px auto 24px;
          }
          #contact-contet {
            width: 400px;
            // margin: 4px auto 0;
          }
          .radio {
            padding-left: 30px;
            label {
              padding-left: 2px;
            }
          }
          .contact-contet {
            padding-left: 30px;
          }
        }
      }
    }
  }

  /* ==========max-width 550============= */
  @media screen and(max-width:550px) {
    #about {
      #about-image-box {
        top: 310px;
      }
    }
    #service-box {
      p {
        margin-top: 32px !important;
      }
    }
    #living-box {
      p {
        margin-top: 64px;
      }
    }
    #qa-box {
      p {
        margin-top: 64px;
      }
    }
    #access-box {
      p {
        margin-top: 64px;
      }
    }
    #contact {
      #contact-box {
        max-width: 400px;
        form {
          label {
            padding-left: 60px;
            font-size: 14px;
          }
          #name {
            width: 250px;
            margin: 4px auto 24px;
          }
          #e-mail {
            width: 250px;
            margin: 4px auto 24px;
          }
          #contact-contet {
            width: 250px;
            // margin: 4px auto 0;
          }
          .radio {
            padding-left: 0px;
            margin-left: 60px;
            label {
              padding-left: 2px;
              font-size: 14px;
            }
            .radio-btn {
              margin-left: 20px;
            }
          }

          .contact-contet {
            padding-left: 60px;
            label {
              padding-left: 2px;
            }
          }
        }
      }
    }
    #living {
      #contact-btn2 {
        width: 300px;
        height: 56px;
        font-size: 20px;
        line-height: 56px;
      }
    }
  }

  /* ==========max-width 520============= */
  @media screen and(max-width:520px) {
    #common-space {
      #common-space-text {
        #common-space-text-box {
          h6 {
            .sp-br {
              display: block !important;
            }
          }
        }
      }
    }
    .living-text-box {
      padding-bottom: 88px;
    }
  }
  /* ==========max-width 450============= */
  @media screen and(max-width:450px) {
    #main-content {
      a {
        font-size: 14px;
        height: 32px;
        width: 100px;
        line-height: 32px;
      }
    }
    #service-box {
      p {
        margin-top: 40px !important;
        font-size: 16px !important ;
        line-height: 24px !important;
      }
    }
    #living-box {
      p {
        font-size: 16px !important;
        margin-top: 48px;
      }
    }
    #qa-box {
      p {
        font-size: 16px !important;
        margin-top: 48px;
      }
    }
    #access-box {
      p {
        font-size: 16px !important;
        margin-top: 48px;
      }
    }
  }
  /* ==========max-width 375============= */
  @media screen and(max-width:375px) {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 16px;
    }
    h3 {
      font-size: 32px;
    }
    h4 {
      font-size: 14px;
    }
    #about {
      p {
        font-size: 14px;
      }
      #about-image-box {
        top: 370px;
      }
    }

    #concept {
      img {
        width: 100% !important;
      }
    }
    #service-box {
      p {
        margin-top: 24px !important;
      }
    }
    #living-box {
      p {
        margin-bottom: 24px;
      }
    }
    #qa-box {
      p {
        margin-bottom: 24px;
      }
    }
    #access-box {
      p {
        margin-bottom: 24px;
      }
    }
  }
}
