//style.scss

@charset "utf-8";

@import "reset.scss"; // ここでリセットCSS(SCSS)を呼び出す。
@import "basic.scss"; // ここで基本設定のCSS(SCSS)を呼び出す。
@import "header.scss"; // ここでヘッダー部分のCSS(SCSS)を呼び出す。
@import "about.scss"; // ここでアバウト部分のCSS(SCSS)を呼び出す。
@import "top-page-overlay.scss"; // ここでトップページp－バーレイ部分のCSS(SCSS)を呼び出す。
@import "concept.scss"; // ここでコンセプト部分のCSS(SCSS)を呼び出す。
@import "main-content.scss"; // ここでメインコンテンツ部分のCSS(SCSS)を呼び出す。
@import "contact.scss"; // ここでコンタクト部分のCSS(SCSS)を呼び出す。
@import "footer.scss"; // ここでフッター部分のCSS(SCSS)を呼び出す。
@import "sub-header.scss"; // ここでサブヘッダー部分のCSS(SCSS)を呼び出す。
@import "rooms.scss"; // ここでルーム部分のCSS(SCSS)を呼び出す。
@import "common-space.scss"; // ここで共有スペース部分のCSS(SCSS)を呼び出す。
@import "living.scss"; // ここで暮らし部分のCSS(SCSS)を呼び出す。
@import "qa.scss"; // ここでq&a部分のCSS(SCSS)を呼び出す。
@import "access.scss"; // ここでアクセス部分のCSS(SCSS)を呼び出す。

/* ==========service page============= */

.top-page-overlay-sub {
  position: absolute;
  width: 100%;
  background: linear-gradient(135deg, #fff, #faeee0);
  z-index: -5;
}

/* ==========max-width 850============= */
@media screen and(max-width:850px) {
  header {
    height: auto;
    .sp-top {
      margin-top: 88px;
    }
  }

  /* ==========service-page 850============= */
}

/* ==========max-width 700============= */

/* ==========max-width 550============= */

/* ==========max-width 375============= */
@media screen and(max-width:375px) {
  header {
    .header-text-box {
      width: 280px;
      right: 8px;
    }
  }
}
