@charset "UTF-8";
.sub-header {
  position: relative;
  /*ハンバーガーライン*/
}

.sub-header .contact-btn {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 208px;
  height: 64px;
  background-color: #23ac6d;
  color: #fff;
  position: fixed;
  top: 104px;
  right: 24px;
  border-radius: 4px;
  z-index: 4;
}

.sub-header .contact-btn:hover {
  opacity: 0.8 !important;
}

@media screen and (max-width: 900px) {
  .sub-header .contact-btn {
    display: none;
  }
}

.sub-header .contact-btn .far {
  line-height: 64px;
  margin-left: 16px;
}

.sub-header .contact-btn p {
  margin-left: 16px;
  line-height: 64px;
  font-size: 18px;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 900px) {
  .sub-header .contact-btn {
    display: none;
  }
}

.sub-header .header-wrapper {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100%;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 88px;
  background-color: #fff;
}

@media screen and (max-width: 900px) {
  .sub-header .header-wrapper .pc-nav {
    display: none;
  }
}

.sub-header .header-wrapper img {
  margin-left: 16px;
  height: 88px;
}

@media screen and (max-width: 375px) {
  .sub-header .header-wrapper img {
    margin-left: 16px;
  }
}

.sub-header .header-wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 64px;
}

.sub-header .header-wrapper nav a {
  margin-left: 33px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
}

.sub-header .header-wrapper nav a::after {
  position: absolute;
  bottom: 24px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media screen and (max-width: 900px) {
  .sub-header .header-wrapper nav a::after {
    bottom: 12px;
  }
}

.sub-header .header-wrapper nav a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.sub-header .hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  .sub-header .hamburger {
    display: block;
  }
}

.sub-header .contact-btn-sp {
  display: none;
  text-align: center;
  width: 48px;
  height: 48px;
  background-color: #23ac6d;
  color: #fff;
  position: fixed;
  top: 24px;
  right: 8px;
  border-radius: 4px;
  z-index: 4;
}

.sub-header .contact-btn-sp:hover {
  opacity: 0.8 !important;
}

@media screen and (max-width: 900px) {
  .sub-header .contact-btn-sp {
    display: block;
  }
  .sub-header .contact-btn-sp .far {
    line-height: 48px;
  }
}

.sub-header a::after {
  bottom: 16px;
}

.sub-header .nav {
  padding-top: 60px;
  color: #333;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -250px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10;
}

.sub-header .nav .nav_main_text {
  margin-top: 80px;
  background-color: #fff;
  color: #333;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  line-height: 60px;
  text-align: center;
}

.sub-header .fadein {
  -webkit-transform: translateX(-250px);
  transform: taranslateX(-250px);
  z-index: 5;
  opacity: 1;
}

.sub-header #target {
  width: 40px;
  height: 30px;
  position: fixed;
  top: 30px;
  right: 88px;
  cursor: pointer;
  display: block;
  -webkit-transition: 0.5;
  transition: 0.5;
  z-index: 19;
}

.sub-header #target .target_inner {
  width: 40px;
  height: 30px;
  position: relative;
}

.sub-header #target .target_inner .target_inner_line {
  display: block;
  width: 40px;
  height: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50px;
  position: absolute;
  background-color: #333;
}

.sub-header #target .target_inner .target_inner_1 {
  top: 0px;
}

.sub-header #target .target_inner .target_inner_2 {
  top: 13px;
}

.sub-header #target .target_inner .target_inner_3 {
  top: 26px;
}

.sub-header #target .target_inner .linea {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 13px;
}

.sub-header #target .target_inner .lineb {
  opacity: 0;
}

.sub-header #target .target_inner .linec {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
}

.sub-header .slidex {
  z-index: 20;
}

.sub-header .sns-icon-twitter {
  position: fixed;
  z-index: 10;
  bottom: 88px;
  right: 24px;
}

.sub-header .sns-icon-twitter .fa-twitter {
  font-size: 48px;
  color: #23ac6d;
}

.sub-header .sns-icon-twitter .fa-twitter:hover {
  opacity: 0.8 !important;
}

.sub-header .sns-icon-instagram {
  position: fixed;
  z-index: 10;
  bottom: 24px;
  right: 24px;
}

.sub-header .sns-icon-instagram .fa-instagram {
  font-size: 48px;
  color: #23ac6d;
}

.sub-header .sns-icon-instagram .fa-instagram:hover {
  opacity: 0.8 !important;
}
/*# sourceMappingURL=sub-header.css.map */